body {
  margin: 0;
  font-family: GorditaRegular, sans-serif;
  background-color: white;
  color: #333;
}

.page-header {
  padding: 12px;
  border-bottom: 0.1px solid #e0e0e0;
  text-align: left;
}

.page-header h1 {
  margin: 2px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  font-family: GorditaRegular, sans-serif;
}

.page-header {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 500px;
  margin: 20px auto 10px;
  padding: 16px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.user-header {
  text-align: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.user-name {
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.instruction {
  margin: 20px 0;
}

.instruction h2 {
  font-size: 13px;
  color: black;
  margin-bottom: 6px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.instruction p {
  padding-left: 0px;
  margin-bottom: 1px;
  font-size: 12px;
  color: rgb(144, 144, 144);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

.bank-list-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.bank-list::-webkit-scrollbar {
  display: none;
}

.bank-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  gap: 17px;
  overflow-x: auto;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
}

.bank-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bank-option {
  width: 68px;
  height: 68px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border 0.3s;
  flex-shrink: 0;
  margin-right: 10px;
}

.bank-option img {
  width: 35px;
  height: auto;
}

.bank-name {
  margin-top: 6px;
  font-size: 12.5px;
  text-align: center;
  color: rgb(109, 114, 126);
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 15px;
}

.bank-option.selected {
  border-color: #a682ff;
  background: #f6f0ff;
}

.bank-option.selected::after {
  content: "✔";
  position: absolute;
  top: -0px;
  right: -0px;
  background: #a682ff;
  color: #fff;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.account-info {
  margin-top: 8px;
  padding: 10px;
  background: rgb(245, 246, 248);
  border-radius: 12px;
}

.bank-label {
  font-family: GorditaRegular, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(98, 98, 98);
  margin-bottom: 20px;
}

.account-field {
  margin-bottom: 14px;
}

.account-field label {
  font-size: 12px;
  color: #777;
  display: block;
  margin-bottom: 1px;
  font-family: GorditaRegular, sans-serif;
}

.account-field p {
  font-weight: 545;
  font-size: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(98, 98, 98);
  font-family: GorditaRegular, sans-serif;
}

.copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #a682ff;
  font-size: 14px;
  margin-left: auto;
  border-left: 1px solid rgba(179, 179, 179, 0.5);
}

.copy-btn img {
  width: 16px;
  height: 16px;
  text-align: right;
}

.copy-text span {
  color: #a682ff;
  text-align: right;
  font-size: 14px;
}

.copy-btn button {
  border: none;
  background: transparent; /* optional: removes background too */
  cursor: pointer;
  text-align: right;
}

.share-btn {
  display: block;
  height: 50px;
  width: 60%;
  max-width: 300px;
  margin: 20px auto 40px;
  background: #a682ff;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.footer-powered {
  text-align: center;
  margin: 2px auto;
  font-size: 16px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-powered .brand {
  color: #a682ff;
  font-weight: 600;
}

.footer-logo {
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
}

.share-icon {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}

.copy-text {
  color: #a682ff;
  font-size: 14px;
  margin-left: auto;
}
